.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main div{
  float: left;
  background-color:#545151;
  width: calc(50% - 1.5em);
  margin-left: 1.5em;
}

.userDiv div h5{
  margin-top: 0;
  margin-bottom: 0.5em;
}
.userDiv{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  background-color: rgb(155, 255, 155);
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em #000;
  text-align: center;
}

.userDiv div h5 span{
  font-size: 0.8em;
  color: #545151;
}

.Login {
  margin-top: 150px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-color: lightblue;
}

.bold-text {
  font-weight: bold;
}


/* Define the grid layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 4 columns with equal width */
  gap: 20px;
  /* Gap between grid items */
  padding: 50px;
  background-color: rgb(239, 244, 238);
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

/* Style each grid item (card) */
.grid-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s;
}

/* Style on hover */
.grid-item:hover {
  transform: scale(1.05);
  /* Scale up the card on hover */
}


.first-span {
  display: block; /* Forces the first span to occupy the full width */
  font-weight: bold; /* Makes the first span bold (just an example) */
}

.other-spans {
  text-align: left; /* Aligns all other spans to the left */
}

.left-margin{
  margin-left: 60px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2196f3;
  color: white;
}

button {
  background-color: #2196f3; /* Green */
  border: none;
  color: #fff;
  padding: 8px 16px;
  text-align: center;
  border-radius: 12px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: capitalize;
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px 10px 16px;
}

main {
  padding: 16px;
}

a {
  text-transform: capitalize;
}
