*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: #1976d2;
  color: #fff;
}

.navbar ul {
  justify-content: flex-end;
  height: 100%;
  list-style: none;
}

.navbar ul li {
  height: 100%;
  transition: all 0.3s ease;
  width: 70px;
  cursor: pointer;
}
.navbar ul li a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
}
.navbar ul li:hover {
  background-color: #1565c0;
  letter-spacing: 1px;
}

.form-group {
  max-width: 500px;
  border-radius: 4px;
  padding: 15px;
}

@media screen and (min-width: 480px) {
  .form-group {
    min-width: 400px;
  }
  .form-group div {
    flex: 1;
  }
}

/* shared styles */
.d-flex {
  display: flex;
  gap: 10px;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.text-center {
  text-align: center;
}
.container {
  height: calc(100vh - 50px);
  position: relative;
}
.wrapper {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: auto;
  text-align: end;
  padding: 10px;
}
